couchbase==4.1.12-rc.1
streamlit==1.31.1
langchain-community @ git+https://github.com/nithishr/langchain.git@sdk#subdirectory=libs/community
httpx==0.27.0
langchain==0.1.9
tiktoken==0.6.0
pypdf==4.0.2
langchain-openai==0.0.7